/*
Name: Joshua Simpers
Assignment: Center the div with the box class within the div with the container class
Date: Oct-25th-2024
File name: style.css
*/
.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  /*Tells the webpage to display the content using a flexbox*/
  display: flex;
  /*aligns the items within the flexbox around the center of the flexbox vertically since the direction of the flexbox is along the row*/
  align-items: center;
  /*aligns the content within the flexbox around the center of the flexbox horizontally since the direction of the flexbox is along the row*/
  justify-content: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}